<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">

        <link rel="icon" href="<%= BASE_URL %>favicon.ico">
        <link rel="preload" as="font" href="./fonts/2849-font.woff2" type="font/woff2" crossorigin="anonymous">
        <link rel="preload" as="font" href="./fonts/nicokaku_v1.woff2" type="font/woff2" crossorigin="anonymous">

        <title>Mimesis｜ミメーシス</title>

        <meta property="og:title" content="Mimesis｜ミメーシス" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://mimesis.artsun-games.tk/" />
        <meta property="og:image" content="https://artsun-games.imgix.net/assets/mimesis_logo.png" />
        <meta property="og:description" content="Welcome to Mimesis, a multiplayer Hide'n'Seek action-shooter game." />

        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@mimesis_game" />
        <meta name="twitter:url" content="https://mimesis.artsun-games.tk/" />
        <meta name="twitter:description" content="Welcome to Mimesis, a multiplayer Hide'n'Seek action-shooter game." />
        <meta name="twitter:image" content="https://artsun-games.imgix.net/assets/mimesis_logo.png" />
    </head>
    <body>
        <noscript><strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript>
        <div id="app"></div>
        <!-- built files will be auto injected -->
    </body>
</html>
