@font-face
  font-family: "OCR-A"
  src: local("OCR-A"), url("/fonts/2849-font.woff2") format("woff2")
  font-style: normal
  font-display: auto

@font-face
  font-family: "NicoKaku"
  src: local("NicoKaku"), url("/fonts/nicokaku_v1.woff2") format("woff2")
  font-style: normal
  font-display: auto

$primary-color: #AAFF00
$secondary-color: #FF9C00
$select-color: darkred
$background-color: #162838
