@import 'global'
@import "_mixin"

.ph-border
  border: 6px double $primary-color
  width: fit-content
  display: flex
  flex-direction: column

.ph-table
  width: 100%
  border-collapse: collapse
  text-align: center

.ph-table-cell
  &:nth-child(n + 2)
    border-left: 3px solid $primary-color

.ph-table-header
  font-weight: normal
  border-bottom: 3px solid $primary-color
  &:nth-child(n + 2)
    border-left: 3px solid $primary-color

.ph-table-header-row
  .ph-table-cell
    padding: 10px

.ph-table-body-row
  &:hover
    cursor: pointer
    color: white
    transition: 0.2s ease-in-out
  .ph-table-cell
    padding: 8px 10px
    position: relative
    &:before
      content: ''
      display: block
      position: absolute
      height: 100%
      top: 0
      bottom: 0
      left: 0
      right: 0
      margin: 0 4px
      opacity: 0
      z-index: -1
      background-color: $select-color
      transition: 0.2s ease-in-out

.ph-table-body-row--selected
  .ph-table-cell
    color: white
    &:before
      opacity: 1

.ph-table-footer
  display: flex
  flex-flow: row
  column-gap: 18px
  row-gap: 4px
  border-top: 3px solid $primary-color
  padding: 10px
  justify-content: space-around

.ph-button
  color: $primary-color
  text-align: center
  background-color: transparent
  border: none
  overflow: hidden
  box-shadow: none
  height: 1.8em
  cursor: pointer
  position: relative
  box-sizing: border-box
  padding: 0 1em
  transition: all 250ms ease-out
  &:disabled
    opacity: 0.3
    cursor: default
  &:before
    content: ''
    position: absolute
    transition: inherit
    z-index: -1
    top: 0
    width: 0
    height: 100%
    left: 0
  &:hover:enabled
    color: white
    &:before
      background: $select-color
      width: 100%
  @include mq(sp)
    font-size: 16px

.ph-header
  position: absolute
  right: 8vw
  top: -1.7em
  background-color: $background-color
  padding: 1em 0.5em 0 0.5em
  font-size: 1.5em
  text-align: center
  @include mq(sp)
    right: auto
    left: 50%
    font-size: 24px
    transform: translate(-50%, 0)

.ph-blink > :last-child::after
  content: "_"
  animation-name: underscoreBlink
  animation-duration: 1s
  animation-iteration-count: infinite
@keyframes underscoreBlink
  0%
    visibility: visible
  50%
    visibility: visible
  51%
    visibility: hidden
  100%
    visibility: hidden
