<template>
  <div class="ph-body crt">
    <div style="animation: turn-on 3s linear;">
      <div ref="loadBlock">
        <p v-show="isStarted">Loading MIMESIS.sys<span>{{ dotsText }}</span></p>
        <div style="white-space: pre-line;" v-for="(line, index) in textLines" v-bind:key="index">{{ line }}</div>
      </div>
      <div class="ph-blink" v-show="isLoaded">
        <p style="white-space: pre-line;">{{ cmdText }}</p>
      </div>
      <br>
      <div class="ph-content" v-show="isReady">
        <SideMenu class="ph-side" v-on:on-hovered="onSideMenuBtnHovered"></SideMenu>
        <router-view class="ph-router-view"></router-view>
        <div class="ph-side"></div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component"
import SideMenu from "./components/SideMenu.vue"

@Options({
  components: {
    SideMenu,
  },
})
export default class App extends Vue {
  isStarted = false
  isLoaded = false
  isReady = false
  dotsText = ""
  textLines: string[] = []
  cmdText = ">> "
  menuHoverTimer = 0

  mounted() {
    this.$router.beforeEach((to) => {
      document.title = to.name as string

      const newLocale = to.query.lang
      if (newLocale && typeof newLocale === "string") {
        const availableLocales = this.$i18n.availableLocales
        if (availableLocales.includes(newLocale)) {
          this.$i18n.locale = newLocale
          document.documentElement.lang = newLocale
        }
      }

      if (this.isReady) {
        this.updateCmdTitle(to.meta.title as string)
      }
    })

    setTimeout(() => {
      this.loadText()
    }, 1000)
  }

  loadText() {
    this.isStarted = true
    setTimeout(() => {
      this.countDots()
    }, 1000)
  }

  countDots() {
    let i = 0
    const interval = setInterval(() => {
      if (i < 12) {
        this.dotsText += "."
        i++
      } else {
        clearInterval(interval)
        this.countLines()
      }
    }, 100)
  }

  countLines() {
    const text = [
      "Mimesis Version 0.36",
      "Copyright Art-Sun Games (c)"
    ]

    let i = 0
    const interval = setInterval(() => {
      if (i < text.length) {
        this.textLines.push(text[i++])
      } else {
        clearInterval(interval)
        this.isLoaded = true
        this.countCmd()
      }
    }, 200)
  }

  countCmd() {
    const title = this.$route.meta.title as string
    let i = 0
    const interval = setInterval(() => {
      if (i > 2) {
        this.cmdText = title.substr(0, i)
      }

      i++

      if (title.length === this.cmdText.length) {
        clearInterval(interval)
        setTimeout(() => {
          this.cmdText += "\n >> "
          this.isReady = true

          this.hideLoadBlock()
        }, 200)
      }
    }, 100)
  }

  hideLoadBlock() {
    const loadBlock = this.$refs.loadBlock as Element
    if (loadBlock) {
      const observer = new IntersectionObserver((entries) => {
        if (!entries[0].isIntersecting) {
          observer.unobserve(loadBlock)
          loadBlock.remove()
        }
      }, {threshold: [0.1]})
      observer.observe(loadBlock)
    }
  }

  onSideMenuBtnHovered(path: string) {
    if (path) {
      const currentTitle = this.$route.meta.title
      const hoveredTitle = this.$router.getRoutes().find(testRoute => testRoute.path === path)?.meta.title as string
      let i = 0
      this.menuHoverTimer = setInterval(() => {
        if (i > 2) {
          let t = hoveredTitle.substr(0, i)
          this.cmdText = currentTitle + "\n" + t
        }

        i++

        hoveredTitle.length + 1 === i && clearInterval(this.menuHoverTimer)
      }, 25)
    } else {
      this.updateCmdTitle("")
    }
  }

  updateCmdTitle(newTitle: string) {
    clearInterval(this.menuHoverTimer)
    this.cmdText = (newTitle ? newTitle : this.$route.meta.title) + "\n >> "
  }
}
</script>

<style lang="sass">
@import "./assets/main"
@import "./assets/crt"

#app
  font-family: OCR-A, NicoKaku, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

html
  color: $primary-color
  background-color: $background-color
  font-size: 1vw
  @include mq(sp)
    font-size: 16px

body
  padding: 0
  //width: calc(100vw - 40px)
  overflow-y: scroll
  overflow-x: hidden

button
  font-family: OCR-A, NicoKaku, sans-serif
  font-size: 1vw
  @include mq(sp)
    font-size: 16px

::-webkit-scrollbar
  width: 0.5em
  margin: 0 12px

::-webkit-scrollbar-thumb
  background: transparentize($primary-color, 0.20)
  padding: 0 12px
  &:hover
    background: white

::-webkit-scrollbar-track
  background: transparentize($primary-color, 0.85)

.ph-body
  padding: 0 2em
  @include mq(sp)
    padding: 0 12px

.ph-content
  display: flex
  gap: 1em
  justify-content: center
  @include mq(sp)
    flex-wrap: wrap-reverse

.ph-side
  min-width: 10em

.ph-router-view
  max-width: 1024px
  flex-grow: 1

@keyframes turn-on
  0%
    -webkit-filter: brightness(30)
    filter: brightness(30)
    opacity: 1
  3.6%
    opacity: 1
  9%
    -webkit-filter: brightness(30)
    filter: brightness(30)
    opacity: 0
  11%
    -webkit-filter: contrast(0) brightness(0)
    filter: contrast(0) brightness(0)
    opacity: 0
  100%
    -webkit-filter: contrast(1) brightness(1.2) saturate(1.3)
    filter: contrast(1) brightness(1.2) saturate(1.3)
    opacity: 1
</style>
