<template>
  <div class="ph-border" style="width: 100%">
    <span style="margin: 12px;">{{ $t("aboutPage.description") }}</span>
  </div>
</template>

<script lang="ts">
import { Vue } from "vue-class-component"
import { pageview } from "vue-gtag"

export default class About extends Vue {
  mounted() {
    pageview({page_path: '/about', page_title: 'About'})
  }
}
</script>

<style scoped lang="sass">

</style>