<template>
  <div class="ph-border" style="width: 100%">
    <span style="margin: 12px; text-align: center">{{ $t("soonMsg") }}</span>
  </div>
</template>

<script lang="ts">
import { Vue } from "vue-class-component"
import { pageview } from "vue-gtag"

export default class DevBlog extends Vue {
  mounted() {
    pageview({page_path: '/blog', page_title: 'DevBlog'})
  }
}
</script>

<style scoped lang="sass">

</style>