<template>
  <div class="ph-border">
    <div class="ph-header">{{ $t("title") }}</div>
    <div class="ph-banner-container">
      <picture>
        <source v-bind:srcset="bannerImageSrc_4x3" media="(max-width: 767px)">
        <img class="ph-banner-item" v-bind:src="bannerImageSrc" alt="Game art"/>
      </picture>
      <picture v-show="isPropHovered">
        <source v-bind:srcset="bannerImageHighlightSrc_4x3" media="(max-width: 767px)">
        <img class="ph-banner-item ph-banner-hover" v-bind:src="bannerImageHighlightSrc" alt="Game art 4x3"/>
      </picture>
      <button class="ph-banner-btn" id="taunt" v-on:mouseover="onMouseOverProp(true)"
              v-on:mouseleave="onMouseOverProp(false)" v-on:click="onPlayTaunt"/>
<!--      <span class="ph-hint"><span style="color: #FF9C00;">[Tap]</span> to taunt</span>-->
      <span class="ph-hint"><span style="color: #FF9C00;">{{ $t("homePage.hint_action") }}</span> {{ $t("homePage.hint_desc") }}</span>
    </div>
    <span class="ph-text-body">{{ $t("homePage.welcomeMessage") }}</span>
    <br>
    <div>
      <hr>
    </div>
    <div class="ph-footer">
      <table class="ph-footer-table">
        <tr>
          <td class="ph-footer-table-label">Kickstarter:</td>
          <td>
            <button class="ph-button" v-on:click="gotoKickstarter">{{ $t("homePage.supportBtn") }}</button>
          </td>
        </tr>
        <tr>
          <td class="ph-footer-table-label">Twitter:</td>
          <td>
            <button class="ph-button" v-on:click="gotoTwitter">{{ $t("homePage.followBtn") }}</button>
          </td>
        </tr>
      </table>
      <table class="ph-footer-table">
        <tr>
          <td class="ph-footer-table-label">Discord:</td>
          <td>
            <button class="ph-button" v-on:click="gotoDiscord">{{ $t("homePage.joinBtn") }}</button>
          </td>
        </tr>
        <tr>
          <td class="ph-footer-table-label">YouTube:</td>
          <td>
            <button class="ph-button" v-on:click="gotoYoutube">{{ $t("homePage.watchBtn") }}</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue } from "vue-class-component"
import { pageview, event } from "vue-gtag"
import { Locale, messages } from "@/main"

export default class Home extends Vue {
  bannerImageSrc = "https://artsun-games.imgix.net/assets/PHpic_big_dick_16bit_low.png?auto=format&q=60"
  bannerImageSrc_4x3 = "https://artsun-games.imgix.net/assets/PHpic_small_dick_16bit_low.png?auto=format&q=60"
  bannerImageHighlightSrc = "https://artsun-games.imgix.net/assets/PHpic_highlight.png?auto=format&htn=2&q=60"
  bannerImageHighlightSrc_4x3 = "https://artsun-games.imgix.net/assets/PHpic_highlight.png?auto=format&htn=2&q=60&w=1097&h=823&fit=crop"
  isPropHovered = false
  tauntQueue: number[] = []
  currentTauntIdx = 0
  isPlayingTaunt = false

  mounted() {
    pageview({page_path: "/", page_title: "Main"})
  }

  gotoDiscord() {
    this.goto("Discord", "https://discord.gg/kKhJg75ru3")
  }

  gotoKickstarter() {
    this.goto("Kickstarter", "https://kickstarter.com/projects/artsun-games/mimesis-0")
  }

  gotoTwitter() {
    this.goto("Twitter", "https://twitter.com/mimesis_game")
  }

  gotoYoutube() {
    this.goto("Youtube", "https://www.youtube.com/channel/UCvSCwoO3fLjRZ4-GLcBATyA")
  }

  goto(label: string, url: string) {
    event("click", {event_category: "button_click", event_label: label});
    window.open(url)
  }

  onMouseOverProp(flag: boolean) {
    this.isPropHovered = flag;
  }

  onPlayTaunt() {
    if (!this.isPlayingTaunt) {
      const currentLocale = this.$i18n.locale
      const availableLocales = this.$i18n.availableLocales
      let taunts
      if (availableLocales.includes(currentLocale)) {
        taunts = messages[currentLocale as keyof Locale].homePage.taunts
      } else {
        taunts = messages["en"].homePage.taunts
      }

      if (this.tauntQueue.length === 0) {
        for (let i = 0; i < taunts.length; i++) {
          this.tauntQueue.push(i)
        }

        this.shuffleArray(this.tauntQueue)
      }

      if (!(this.currentTauntIdx in this.tauntQueue)) {
        this.shuffleArray(this.tauntQueue)
        this.currentTauntIdx = 0
      }

      const tauntToPlay = taunts[this.tauntQueue[this.currentTauntIdx++]]
      const tauntPlayer = new Audio(tauntToPlay)
      tauntPlayer.volume = 0.5

      tauntPlayer.addEventListener('pause', () => {
        this.isPlayingTaunt = false
      })

      this.isPlayingTaunt = true
      tauntPlayer.play()

      event('click', {event_category: 'button_click', event_label: 'Taunt'});
    }
  }

  shuffleArray(inputArray: any[]) {
    inputArray.sort(() => Math.random() - 0.5)
  }
}
</script>

<style scoped lang="sass">
@import '../assets/main'

.ph-banner-container
  position: relative
  margin: 1.0vw 1.5vw
  padding-right: 6px
  z-index: 1
  @include mq(sp)
    margin: 20px 12px

.ph-banner-item
  position: relative
  border: 3px solid $secondary-color
  width: 100%

.ph-banner-hover
  position: absolute
  border: 0
  top: 2px
  left: 0

.ph-banner-btn
  width: 6vw
  height: 8vw
  position: absolute
  right: 0
  left: 0
  top: 0
  bottom: 6vw
  margin: auto
  background: transparent
  border: transparent

  &:hover
    cursor: pointer

.ph-hint
  width: auto
  height: 8vw
  position: absolute
  right: 0
  left: 0
  top: 6em
  bottom: 0
  margin: auto
  text-align: center
  color: white
  display: none
  @include mq(sp)
    display: block

.ph-text-body
  white-space: pre-wrap
  margin: 0 1.5vw
  @include mq(sp)
    margin: 0 12px

.ph-border
  margin: 0
  position: relative

.ph-footer
  display: flex
  padding: 0 1em 1em 1em
  justify-content: flex-start
  @include mq(sp)
    flex-wrap: wrap

.ph-footer-table
  table-layout: fixed
  width: 100%

  .ph-button
    width: 100%
    text-align: left

.ph-footer-table-label
  text-align: right

hr
  border-top: 2px solid $primary-color
  border-bottom: transparent
  border-left: transparent
  border-right: transparent
  margin: 0.8em 8px
</style>