<template>
  <div class="ph-border" style="width: 100%; min-height: 620px">
    <table class="ph-table" style="height: 100%">
      <thead class="ph-table-header">
        <tr class="ph-table-header-row">
          <th class="ph-table-cell" style="width: 10%">ID</th>
          <th class="ph-table-cell">Nickname</th>
          <th class="ph-table-cell" style="width: 10%">Lvl</th>
          <th class="ph-table-cell" style="width: 25%">Online Subsystem</th>
        </tr>
      </thead>
      <tbody class="ph-table-body">
        <PlayerItem
            v-for="(player, index) in players"
            v-bind:key="player.playerId"
            v-bind:id="player.playerId"
            v-bind:nickname="player.playerName"
            v-bind:level="player.level"
            v-bind:onlineSubsystem="player.onlineSubsystem"
            v-bind:isSelected="isSelected(index)"
            v-on:click="onSelect(index)"
            v-on:focusout="onSelect(-1, $event)"
            tabindex="0"
        />
        <tr class="ph-table-body-row" style="height: 100%; cursor: default">
          <th class="ph-table-cell"/>
          <th class="ph-table-cell"/>
          <th class="ph-table-cell"/>
          <th class="ph-table-cell"/>
        </tr>
      </tbody>
    </table>
    <div class="ph-table-footer">
      <button class="ph-button">Add</button>
      <button class="ph-button" v-bind:disabled="!isSelectedAny()">Edit</button>
      <button class="ph-button" v-on:click="onRemovePlayer" v-bind:disabled="!isSelectedAny()">Delete</button>
      <button class="ph-button" v-on:click="refreshPlayerList">Refresh</button>
    </div>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component"
import PlayerItem from "./PlayerItem.vue"

@Options({
  components: {
    PlayerItem
  }
})
export default class PlayerList extends Vue {
  players = [
    {
      playerId: 0,
      playerName: "Gag the Fag",
      level: 1,
      onlineSubsystem: "NULL"
    }
  ]
  selectedIndex = -1

  mounted() {
    this.refreshPlayerList()
  }

  refreshPlayerList() {
    fetch("/api/player/all", {
      headers: {
        "Content-Type": "application/json"
      }
    })
        .then((response) => response.json())
        .then((data) => {
          this.selectedIndex = -1
          this.players = data
        })
  }

  onSelect(index: number, event: any) {
    if (event?.relatedTarget?.localName === "button") {
      return
    }
    this.selectedIndex = index
  }

  isSelected(index: number) {
    return index === this.selectedIndex
  }

  isSelectedAny() {
    return this.selectedIndex >= 0
  }

  onRemovePlayer() {
    if (this.isSelectedAny()) {
      const playerId = this.players[this.selectedIndex].playerId;
      fetch("/api/player?id=" + playerId, {
        method: "DELETE",
        headers: {
          "Content-Type": "application/json"
        }
      }).then(() => {
        this.refreshPlayerList()
      })
    }
  }
}
</script>

<style scoped lang="sass">

</style>