<template>
  <tr class="ph-table-body-row" v-bind:class="{'ph-table-body-row--selected': isSelected }">
    <th class="ph-table-cell">{{ id }}</th>
    <th class="ph-table-cell" style="text-align: left">{{ nickname }}</th>
    <th class="ph-table-cell">{{ level }}</th>
    <th class="ph-table-cell">{{ onlineSubsystem }}</th>
  </tr>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';

@Options({
  props: {
    id: Number,
    nickname: String,
    level: Number,
    onlineSubsystem: String,
    isSelected: Boolean
  }
})
export default class PlayerItem extends Vue {}
</script>

<style scoped lang="sass">
@import '../assets/main'

</style>