<template>
  <div class="ph-side-menu ph-border">
    <button class="ph-button" v-on:click="onClicked(paths.home)" v-on:mouseover="onHovered(paths.home)" v-on:mouseleave="onHovered('')" v-bind:disabled="isCurrent(paths.home)">{{$t('sideMenu.homeBtn')}}</button>
    <button class="ph-button" v-on:click="onClicked(paths.blog)" v-on:mouseover="onHovered(paths.blog)" v-on:mouseleave="onHovered('')" v-bind:disabled="isCurrent(paths.blog)">{{$t('sideMenu.blogBtn')}}</button>
    <button class="ph-button" v-on:click="onClicked(paths.stats)" v-on:mouseover="onHovered(paths.stats)" v-on:mouseleave="onHovered('')" v-bind:disabled="isCurrent(paths.stats)">{{$t('sideMenu.statsBtn')}}</button>
    <button class="ph-button" v-on:click="onClicked(paths.about)" v-on:mouseover="onHovered(paths.about)" v-on:mouseleave="onHovered('')" v-bind:disabled="isCurrent(paths.about)">{{$t('sideMenu.aboutBtn')}}</button>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component"

@Options({
  emits: ['onHovered']
})
export default class SideMenu extends Vue {
  paths = {
    home: '/',
    blog: '/blog',
    stats: '/stats',
    about: '/about'
  }

  onClicked(path: string) {
    this.$router.push(path)
  }

  onHovered(path: string) {
    this.$emit('onHovered', path)
  }

  isCurrent(path: string) {
    return this.$route.path === path
  }
}
</script>

<style scoped lang="sass">
@import '../assets/main'

.ph-side-menu
  display: flex
  flex-direction: column
  justify-content: flex-start
  row-gap: 0.3em
  height: 100%
  min-height: 15em
  padding: 0.6em 0.8em
  @include mq(sp)
    width: 100%
    height: auto
    min-height: 5em
  .ph-button
    text-align: left
    @include mq(sp)
      text-align: center
</style>